.content-slide {
  position: absolute;
  left: -150px;
  margin-top: 40%;

  img {
    width: 250px;
    height: 350px;
    display: inline-block;
    margin-right: 45px;
    vertical-align: top;
  }

  .text {
    display: inline-block;
    vertical-align: top;

    h1 {
      margin: 0px;
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
