<div class="links">
  <span class="first">
    <div><a [routerLink]="['']" fragment="about-us">ABOUT US</a></div>
    <div class="active" 
      [@linkActivation]="windowRef.scrollY >= slides[0].start && windowRef.scrollY < slides[2].end ? 'activate' : 'deactivate'">
    </div>
  </span>
  <span>
    <div><a [routerLink]="['']" fragment="process">PROCESS</a></div>
    <div class="active" 
      [@linkActivation]="windowRef.scrollY >= slides[3].start && windowRef.scrollY < slides[5].end ? 'activate' : 'deactivate'">
    </div>
  </span>
  <span>
    <div><a [routerLink]="['']" fragment="services">SERVICES & PRICING</a></div>
    <div class="active" 
      [@linkActivation]="windowRef.scrollY >= slides[6].start ? 'activate' : 'deactivate'">
    </div>
  </span>
  <span>
    <div (click)="onContactUsClicked()">CONTACT US</div>
    <div class="active" 
      [@linkActivation]="isContactUsClicked ? 'activate' : 'deactivate'">
    </div>
  </span>
</div>
