<div id="services-three">
  <div class="slide">
    <div class="content">
      <div class="animation">
        <!--<lottie-animation-view [options]="lottieConfig"></lottie-animation-view>-->
        <img src="assets/mobile-widgets.png"/>
      </div>
      <div class="text">
        <h1>Services &amp; Integration</h1>
        <div class="tags">
          <div class="price">$110,000</div>
          <div class="resources">2 Developers</div>
        </div>
        <p>Once the UI interactions are delivered, we move our focus to data interactions.</p>
        <p>Cloud Obsidian will define a clean API and provision approriate cloud infrastructure.  We'll integrate the services and UI and bring your application to life!</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/map.svg"/>
            <span>Define API &amp; database schema</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Provision cloud infrastructure</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Integrate UI &amp; services</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
