<div id="services-three" [scrollIntoView]="'services-three'">
  <div class="slide last">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>Services &amp; Integration</h1>
        <div class="tags">
          <div class="accent">$110,000</div>
          <div class="accent secondary">2 Developers</div>
        </div>
        <p>Once the UI interactions are delivered, we move our focus to data interactions.</p>
        <p>Cloud Obsidian will define a clean API and provision approriate cloud infrastructure.  We'll integrate the services and UI and bring your application to life!</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/api.svg"/>
            <span>Define API &amp; database schema</span>
          </div>
          <div class="bullet">
            <img src="assets/server.svg"/>
            <span>Provision cloud infrastructure</span>
          </div>
          <div class="bullet">
            <img src="assets/pipe.svg"/>
            <span>Integrate UI &amp; services</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
