<div id="about-us-two" [scrollIntoView]="'about-us-two'">
  <div class="slide" [@fadeInOut]="scrollPosition >= slide.start && scrollPosition <= slide.end ? 'fadeIn' : 'fadeOut'">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>What do we build?</h1>
        <p>We craft software that optimizes your most important business systems.  We'll innovate together to give you a serious edge in your industry.</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/map.svg"/>
            <span>Interactive Maps</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Analytics Dashboards</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-gantt.svg"/>
            <span>Management Tools</span>
          </div>
        </div>
        <button type="button">See popular projects</button>
      </div>
    </div>
  </div>
</div>
