@import '../../../styles';

#about-us-two {

  @media screen and (min-width: $tablet) { }

  @media screen and (min-width: $desktop) {
    height: 100vh;
    width: 100%;
  }

  @media screen and (min-width: $widescreen) { }

  @media #{$ipad} {
    height: 100vh;
    width: 100%;
  }

  .slide {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: relative;

    @media screen and (min-width: $tablet) { }
    @media screen and (min-width: $desktop) { }
    @media screen and (min-width: $widescreen) { }

    .content {
      position: relative;
      width: 100%;
      padding-bottom: 20px;

      @media screen and (min-width: $tablet) {
        padding-top: 20px;
      }

      @media screen and (min-width: $desktop) {
        position: absolute;
        top: 25vh;
        left: 5vw;
        width: auto;
      }

      @media screen and (min-width: $landscape) {
        left: 6vw;
      }

      @media screen and (min-width: $widescreen) {
        left: 8vw;
      }

      @media #{$iphone-x} {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @media #{$ipad} {
        padding-top: 180px;
      }

      .animation {
        width: 100%;
        display: block;
        padding-top: 20px;

        @media screen and (min-width: $tablet) {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0px;
        }

        @media screen and (min-width: $desktop) {
          width: 300px;
          display: inline-block;
          margin-right: 0px;
          vertical-align: top;
        }

        @media screen and (min-width: $landscape) {
          width: 400px;
        }

        @media screen and (min-width: $widescreen) {
          width: 500px;
        }

        @media #{$iphone-plus} {
          padding-top: 30px;
        }

        @media #{$iphone-x} {
          padding-top: 50px;
        }
      }

      .text {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;

        @media screen and (min-width: $tablet) {
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (min-width: $desktop) {
          max-width: inherit;
          display: inline-block;
          width: 350px;
          vertical-align: top;
          margin-left: 20px;
          margin-right: 0px;
        }

        @media screen and (min-width: $widescreen) {
          width: 440px;
        }

        h1 {
          margin: 0px;

          @media screen and (min-width: $tablet) { }

          @media screen and (min-width: $desktop) {
            font-size: 28px;
          }

          @media screen and (min-width: $widescreen) {
            font-size: 36px;
          }
        }

        p {
          width: 100%;
          font-size: 14px;

          @media screen and (min-width: $tablet) {
          }
          
          @media screen and (min-width: $desktop) {
            width: 300px;
          }

          @media screen and (min-width: $widescreen) { }
        }

        .bullets {

          @media screen and (min-width: $tablet) { }
          @media screen and (min-width: $desktop) { }
          @media screen and (min-width: $widescreen) { }

          .bullet {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;

            @media screen and (min-width: $tablet) { }
            @media screen and (min-width: $desktop) { }
            @media screen and (min-width: $widescreen) { }

            img {
              margin-right: 10px;

              @media screen and (min-width: $tablet) { }
              @media screen and (min-width: $desktop) { }
              @media screen and (min-width: $widescreen) { }
            }

            span {
              font-size: 14px;

              @media screen and (min-width: $tablet) { }
              @media screen and (min-width: $desktop) { }
              @media screen and (min-width: $widescreen) { }
            }
          }
        }

        button {
          margin-top: 10px;
          font-size: 14px;
          width: 100%;
          height: 40px;
          background-color: $primary;
          color: $white;
          border: 0px;

          @media screen and (min-width: $tablet) {
          }

          @media screen and (min-width: $desktop) {
            width: 250px;
          }

          @media screen and (min-width: $widescreen) {
            width: 280px;
          }
        }
      }
    }
  }
}

