<div id="about-us-two" [scrollIntoView]="'about-us-two'">
  <div class="slide" [@fadeInOut]="scrollPosition >= slide.start && scrollPosition <= slide.end ? 'fadeIn' : 'fadeOut'">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>What applications do we build?</h1>
        <p>Innovation is necessary to compete in virtually any industry.  What can we build for you to raise the standard?</p>
        <button type="button">See popular projects</button>
      </div>
    </div>
  </div>
</div>
