<div id="about-us-two" [scrollIntoView]="'about-us-two'">
  <div class="slide">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>What do we build?</h1>
        <div class="pages">
          <div class="page-one" 
            [@slideUpDown]="state[index].pageOne ? 'slideUp' : 'slideDown'">
            <p>We craft software that optimizes your most important business systems.  We'll innovate together to give you a serious edge in your industry.</p>
            <div class="bullets">
              <div class="bullet">
                <img src="assets/map.svg"/>
                <span>Interactive Maps</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-bar.svg"/>
                <span>Analytics Dashboards</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-gantt.svg"/>
                <span>Management Tools</span>
              </div>
            </div>
          </div>
          <div class="page-two" 
            [@slideUpDown]="state[index].pageTwoScrolled ? 'slideUpMore' : state[index].pageTwo ? 'slideUp' : 'slideDown'">
            <div class="bullets">
              <div class="bullet">
                <img src="assets/map.svg"/>
                <span>Interactive Maps</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-bar.svg"/>
                <span>Analytics Dashboards</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-gantt.svg"/>
                <span>Management Tools</span>
              </div>
              <div class="bullet">
                <img src="assets/map.svg"/>
                <span>Inventory Automation</span>
              </div>
              <div class="bullet">
                <img src="assets/map.svg"/>
                <span>Sales Pipelines</span>
              </div>
            </div>
            <div class="bullets column-2">
              <div class="bullet">
                <img src="assets/chart-bar.svg"/>
                <span>Accounting Tools</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-bar.svg"/>
                <span>Custom CMS & CRMs</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-gantt.svg"/>
                <span>Marketing Dashboards</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-gantt.svg"/>
                <span>Hiring Portals</span>
              </div>
              <div class="bullet">
                <img src="assets/chart-gantt.svg"/>
                <span>Hiring Portals</span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" (click)="transitionState()">{{ buttonText[index] }}</button>
      </div>
    </div>
  </div>
</div>
