@import '../../styles';

.leading-bar {
  width: 30px;
  height: 5px;
  background-color: $primary;

  @media screen and (min-width: $tablet) { }
  @media screen and (min-width: $desktop) { }
  @media screen and (min-width: $widescreen) { }
}
