<div id="about-us-three">
  <div class="slide">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>Services & Pricing</h1>
        <p>Our service tiers range from light-weight widgets to full stack development and integration.</p>
        <p>But rather than making a massive or indefinite dollar commitment, we've separated development into three intuitive tiers:</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/map.svg"/>
            <span>The Mighty Widget</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Design Sprint &amp; UI Build</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-gantt.svg"/>
            <span>Services &amp; Integration</span>
          </div>
        </div>
        <button type="button">See Services &amp; Pricing</button>
      </div>
    </div>
  </div>
</div>
