#about-us-three {
  height: 100vh;
  width: 100%;
  position: relative;

  .slide {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    pointer-events: none;

    .content {
      position: relative;
      top: 25vh;
      left: 15vw;

      .animation {
        width: 500px;
        display: inline-block;
        margin-right: 0px;
        vertical-align: top;
      }

      .text {
        display: inline-block;
        vertical-align: top;

        h1 {
          margin: 0px;
        }

        p {
          width: 300px;
          font-size: 14px;
        }

        .bullets {

          .bullet {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;

            img {
              margin-right: 10px;
            }

            span {
              font-size: 14px;
            }
          }
        }

        button {
          margin-top: 10px;
          font-size: 14px;
          width: 250px;
          height: 40px;
          background-color: #F2275A;
          color: #FFFFFF;
          border: 0px;
        }
      }
    }
  }
}
