<div id="process-three">
  <div class="slide">
    <div class="content">
      <div class="animation">
        <!--<lottie-animation-view [options]="lottieConfig"></lottie-animation-view>-->
        <img src="assets/responsive.png"/>
      </div>
      <div class="text">
        <h1>Live URL</h1>
        <div class="tags">
          <span>Week 6</span>
        </div>
        <p>Once design is finalized, we'll engineer the full user interface and deploy it to a live URL.  The product will truly come to life as all buttons, forms and transitions will be fully interactive.</p>
        <p>At this point, the application is ready to be integrated with a database and backend services.</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/map.svg"/>
            <span>Engineer full user interface</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Deploy to live URL</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
