@import '../../styles';

.mobile-logo {
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 7px;
  background-color: $white;
  z-index: 20;

  img {
    width: 165px;
  }
}
