#home {
  height: 100vh;
  width: 100%;

  .slide {
    height: 100vh;
    width: 100%;
    opacity: 1;
    padding-top: 40vh;

    .logo {
      width: 230px;
      margin-left: auto;
      margin-right: auto;
      pointer-events: none;
      position: relative;

      img {
        width: 225px;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 77px;
      }
    }
  }
}
