.slide {
  height: 100vh;
  width: 100%;
  position: relative;

  .grid {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    position: fixed;
    top: 0px;
    pointer-events: none;
    width: 100%;

    .column {
      width: 40%;
      position: relative;
    }
  }
}
