@import '../../../styles';

#home {
  height: 100vh;
  width: 100%;

  .slide {
    width: 100%;
    opacity: 1;
    padding-top: 30vh;

    @media #{$small} {
      padding-top: 40vh;
    }

    .logo {
      margin-left: auto;
      margin-right: auto;
      pointer-events: none;
      position: relative;
      width: 280px;

      @media #{$small} {
        width: 230px;
      }

      @media #{$medium} {
        width: 290px;
      }

      img {
        width: 100%;
      }

      .tagline {
        font-weight: 400;
        position: absolute;
        left: 98px;
        font-size: 14px;

        @media #{$small} {
          left: 77px;
          font-size: 12px;
        }
        
        @media #{$medium} {
          left: 98px;
          font-size: 15px;
        }
      }
    }
  }
}
