@import '../../styles';

#menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  transform: translateY(-100vh);

  .background{
    background-color: $dark-gray;
    height: 100%;
    width: 100%;

    .links {
      padding-top: 20vh;

      .link {
        font-size: 24px;
        color: $white;
        text-align: center;
      }
    }
  }
}

.icon {
  position: fixed;
  font-size: 40px;
  color: $black;
  top: 0;
  left: 0;
  z-index: 25;
}
