<div id="services" [scrollIntoView]="'services'">
  <div class="slide">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>The Mighty Widget</h1>
        <div class="tags">
          <div class="accent">$26,000</div>
          <div class="accent secondary">1 Developer</div>
        </div>
        <p>Web components (or widgets) are getting more powerful and flexible.  They get the job done while staying light-weight and easy to maintain.</p>
        <p>Cloud Obsidian can build a modular component that's ready to interact with your customers or internal team members.  Each engagement will include:</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/map.svg"/>
            <span>Design definition</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Behavior definition</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Database interaction</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
