<div id="process" [scrollIntoView]="'process'">
  <div class="slide first">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>Design Sprint</h1>
        <div class="tags">
          <div class="accent">Week 1</div>
        </div>
        <p>Cloud Obsidian is an asset-driven web development studio.  We’ll bring your ideas to life with high-fidelity mockups, wireframes and deployed code early and often.</p>
        <p>We kick off our application development with a collaborative design sprint.  This informs engineering and delivery milestones so you know exactly how the final product looks & feels.</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/map.svg"/>
            <span>Brainstorm</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-bar.svg"/>
            <span>Define workflows</span>
          </div>
          <div class="bullet">
            <img src="assets/chart-gantt.svg"/>
            <span>Deliver low fidelity wireframes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
