@import '../../../styles';

#process {
  height: auto;
  width: 100%;

  @media #{$small} {
    height: 100vh;
  }

  @media 
    #{$iphone-landscape},
    #{$iphone-plus-landscape},
    #{$iphone-x-landscape},
    #{$iphone-xr-landscape},
    #{$iphone-xs-landscape},
    #{$iphone-xs-max-landscape} {
    height: auto;
  }

  @media #{$ipad}, #{$ipad-pro} {
    height: 100vh;
  }

  .slide {
    height: 100%;
    width: 100%;
    position: relative;

    @media 
      #{$iphone},
      #{$iphone-plus},
      #{$iphone-x},
      #{$iphone-xr},
      #{$iphone-xs},
      #{$iphone-xs-max} {
      padding-top: 20px;
      padding-bottom: 20px;

      &.first {
        padding-top: 0px;
      }

      &.last {
        padding-bottom: 0px;
      }
    }

    .content {
      position: relative;
      width: 100%;
      padding-bottom: 20px;

      @media #{$small} {
        padding-top: 20px;
      }

      @media #{$medium} {
        position: absolute;
        top: 24vh;
        left: 5vw;
        width: auto;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      @media #{$large} {
        left: 6vw;
      }

      @media #{$larger} {
        left: 8vw;
      }

      @media 
        #{$iphone},
        #{$iphone-plus},
        #{$iphone-x},
        #{$iphone-xr},
        #{$iphone-xs},
        #{$iphone-xs-max} {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 20px;
      }

      @media 
        #{$iphone-landscape},
        #{$iphone-plus-landscape},
        #{$iphone-x-landscape},
        #{$iphone-xr-landscape},
        #{$iphone-xs-landscape},
        #{$iphone-xs-max-landscape} {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 20px;
      }

      @media #{$ipad} {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 150px;
        padding-bottom: 0px;
      }

      @media #{$ipad-landscape} {
        position: absolute;
        top: 24vh;
        left: 5vw;
        width: auto;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      @media #{$ipad-pro} {
        position: relative;
        width: 100%;
        padding-top: 200px;
        padding-bottom: 0px;
        top: 0;
        left: 0;
      }

      @media #{$ipad-pro-landscape} {
        position: absolute;
        top: 27vh;
        left: 5vw;
        width: auto;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .animation {
        display: block;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;

        @media #{$small} {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0px;
          padding-left: 0px;
          padding-right: 0px;
        }

        @media #{$medium} {
          max-width: 500px;
          display: inline-block;
          width: 450px;
          vertical-align: top;
          padding-top: 10px;
        }

        @media #{$large} {
          max-width: 500px;
          width: 500px;
        }

        @media #{$larger} {
          max-width: none;
          width: 650px;
          padding-top: 0px;
        }

        @media #{$iphone} {
          max-width: none;
          padding-top: 20px;
        }

        @media #{$iphone-plus} {
          max-width: none;
          padding-top: 30px;
        }

        @media 
          #{$iphone-x},
          #{$iphone-xr},
          #{$iphone-xs},
          #{$iphone-xs-max} {
          max-width: none;
          padding-top: 50px;
        }
        
        @media 
          #{$iphone-x-landscape},
          #{$iphone-xr-landscape},
          #{$iphone-xs-landscape},
          #{$iphone-xs-max-landscape} {
          display: block;
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0px;
          padding-left: 0px;
          padding-right: 0px;
        }

        @media #{$ipad} {
          max-width: none;
          display: block;
          width: 550px;
          vertical-align: inherit;
          padding-left: 0px;
          padding-right: 0px;
        }

        @media #{$ipad-pro} {
          max-width: none;
          display: block;
          width: 750px;
          vertical-align: inherit;
          padding-left: 0px;
          padding-right: 0px;
        }
      }

      .text {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;

        .pages {
          height: 215px;
          position: relative;
          overflow: hidden;

          @media #{$small} {
            height: 200px;
          }

          .page-one {
            position: absolute;
          }

          .page-two {
            position: absolute;
            margin-top: 15px;

            @media #{$small} {
              margin-top: 12px;
            }
          }
        }

        @media #{$small} {
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }

        @media #{$medium} {
          max-width: none;
          display: inline-block;
          width: 440px;
          vertical-align: top;
          margin-left: 20px;
          margin-right: 0px;
          padding-top: 0px;
        }

        @media #{$large} {
          width: 440px;
        }

        @media #{$larger} {
          padding-top: 15px;
        }

        @media 
          #{$iphone-x-landscape},
          #{$iphone-xr-landscape},
          #{$iphone-xs-landscape},
          #{$iphone-xs-max-landscape} {
          display: block;
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0px;
          padding-left: 0px;
          padding-right: 0px;
        }

        @media #{$ipad} {
          max-width: none;
          display: block;
          width: 400px;
          vertical-align: inherit;
          margin-left: auto;
          margin-right: auto;
        }

        @media #{$ipad-pro} {
          max-width: none;
          display: block;
          width: 400px;
          vertical-align: inherit;
          margin-left: auto;
          margin-right: auto;
        }

        h1 {
          margin: 0px;

          @media #{$medium} {
            font-size: 28px;
          }

          @media #{$large} {
            font-size: 36px;
          }
        }

        .tags {
          padding-top: 15px;
          padding-bottom: 3px;

          div {
            display: inline-block;
            font-weight: 400;
            line-height: 18px;
            border-radius: 8px;
            height: 17px;
            color: #FFFFFF;
            font-size: 12px;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
          }

          .accent {
            background-color: $accent;
            margin-right: 10px;

            &.secondary {
              background-color: $dark-gray;
            }
          }
        }

        p {
          width: 100%;
          font-size: 14px;

          @media #{$medium} {
            max-width: 350px;
          }
        }

        .bullets {
          display: block;

          @media #{$small} {
            display: inline-block;

            &.column-2 {
              margin-left: 25px;
            }
          }
          
          .bullet {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 16px;

            @media #{$small} {
              margin-bottom: 15px;
            }

            img {
              margin-right: 10px;
              width: 24px;
            }

            span {
              font-size: 14px;
            }
          }
        }

        button {
          margin-top: 10px;
          font-size: 14px;
          width: 100%;
          height: 40px;
          background-color: $primary;
          color: $white;
          border: none;

          @media #{$medium} {
            width: 250px;
          }

          @media #{$large} {
            width: 280px;
          }
        }
      }
    }
  }
}
