@import '../../../styles';

#about-us {
  height: 100vh;
  width: 100%;

  @media screen and (min-width: $tablet) { }
  @media screen and (min-width: $desktop) { }
  @media screen and (min-width: $widescreen) { }

  .slide {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: relative;

    @media screen and (min-width: $tablet) { }
    @media screen and (min-width: $desktop) { }
    @media screen and (min-width: $widescreen) { }

    .content {
      position: relative;
      width: 100%;

      @media screen and (min-width: $tablet) {
        position: absolute;
        top: 20vh;
      }

      @media screen and (min-width: $desktop) {
        position: absolute;
        top: 25vh;
        left: 5vw;
        width: auto;
      }

      @media screen and (min-width: $landscape) {
        left: 6vw;
      }

      @media screen and (min-width: $widescreen) {
        left: 8vw;
      }

      .animation {
        width: 100%;
        display: block;
        padding-top: 20px;

        @media only screen
          and (device-width : 414px)
          and (device-height : 736px)
          and (-webkit-device-pixel-ratio : 3) {

          padding-top: 30px;
        }

        @media only screen
          and (device-width : 375px)
          and (device-height : 812px)
          and (-webkit-device-pixel-ratio : 3) {
          padding-top: 50px;
        }

        @media screen and (min-width: $tablet) {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0px;
        }

        @media screen and (min-width: $desktop) {
          width: 300px;
          display: inline-block;
          margin-right: 0px;
          vertical-align: top;
        }

        @media screen and (min-width: $landscape) {
          width: 400px;
        }

        @media screen and (min-width: $widescreen) {
          width: 500px;
        }
      }

      .text {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;

        @media screen and (min-width: $tablet) {
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (min-width: $desktop) {
          display: inline-block;
          width: 350px;
          vertical-align: top;
          margin-left: 20px;
          margin-right: 0px;
        }

        @media screen and (min-width: $widescreen) {
          width: 440px;
        }

        h1 {
          margin: 0px;

          @media screen and (min-width: $tablet) { }

          @media screen and (min-width: $desktop) {
            font-size: 28px;
          }

          @media screen and (min-width: $widescreen) {
            font-size: 36px;
          }
        }

        p {
          width: 100%;
          font-size: 14px;

          @media screen and (min-width: $tablet) {
          }
          
          @media screen and (min-width: $desktop) {
            width: 300px;
          }

          @media screen and (min-width: $widescreen) { }
        }

        button {
          margin-top: 10px;
          font-size: 14px;
          width: 100%;
          height: 40px;
          background-color: $primary;
          color: $white;
          border: 0px;

          @media screen and (min-width: $tablet) {
          }

          @media screen and (min-width: $desktop) {
            width: 250px;
          }

          @media screen and (min-width: $widescreen) {
            width: 280px;
          }
        }
      }
    }
  }
}
