<div id="about-us" class="slide" [scrollIntoView]="'about-us'">
  <div class="grid"
    [@fadeInOut]="scrollPosition >= slide.start && scrollPosition <= slide.end ? 'fadeIn' : 'fadeOut'">
    <div class="content">
      <div class="animation">
        <lottie-animation-view
          [options]="lottieConfig"
          (animCreated)="handleAnimation($event)">
        </lottie-animation-view>
      </div>
      <div class="text">
        <h1>About Us One</h1>
        <p>description</p>
        <button type="button">Find out more!</button>
      </div>
    </div>
  </div>
</div>
