@import '../../../styles';

#about-us {
  height: 100vh;
  width: 100%;

  @media screen and (min-width: $tablet) { }
  @media screen and (min-width: $desktop) { }
  @media screen and (min-width: $widescreen) { }

  .slide {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: relative;

    @media screen and (min-width: $tablet) { }
    @media screen and (min-width: $desktop) { }
    @media screen and (min-width: $widescreen) { }

    .content {
      position: absolute;
      top: 25vh;
      left: 15vw;

      @media screen and (min-width: $tablet) { }
      @media screen and (min-width: $desktop) { }
      @media screen and (min-width: $widescreen) { }

      .animation {
        width: 500px;
        display: inline-block;
        margin-right: 0px;
        vertical-align: top;

        @media screen and (min-width: $tablet) { }
        @media screen and (min-width: $desktop) { }
        @media screen and (min-width: $widescreen) { }
      }

      .text {
        display: inline-block;
        vertical-align: top;

        @media screen and (min-width: $tablet) { }
        @media screen and (min-width: $desktop) { }
        @media screen and (min-width: $widescreen) { }

        h1 {
          margin: 0px;

          @media screen and (min-width: $tablet) { }
          @media screen and (min-width: $desktop) { }
          @media screen and (min-width: $widescreen) { }
        }

        p {
          width: 300px;
          font-size: 14px;

          @media screen and (min-width: $tablet) { }
          @media screen and (min-width: $desktop) { }
          @media screen and (min-width: $widescreen) { }
        }

        button {
          margin-top: 10px;
          font-size: 14px;
          width: 250px;
          height: 40px;
          background-color: $primary;
          color: $white;
          border: 0px;

          @media screen and (min-width: $tablet) { }
          @media screen and (min-width: $desktop) { }
          @media screen and (min-width: $widescreen) { }
        }
      }
    }
  }
}
