<div id="about-us" [scrollIntoView]="'about-us'">
  <div class="slide" [@fadeInOut]="scrollTop >= slide.start && scrollTop < slide.end ? 'fadeIn' : 'fadeOut'">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>Fluid ideas to solid assets</h1>
        <p>Cloud Obsidian is an asset-driven web development studio.  We’ll bring your ideas to life with high-fidelity mockups, wireframes and deployed code early and often.</p>
        <p>We kick off our application development with a collaborative design sprint.  This informs engineering and delivery milestones so you know exactly how the final product looks & feels.</p>
        <button type="button">Learn about our process</button>
      </div>
    </div>
  </div>
</div>
