<div id="services-two" [scrollIntoView]="'services-two'">
  <div class="slide">
    <div class="content">
      <div class="animation">
        <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
      </div>
      <div class="text">
        <h1>User Interface Build</h1>
        <div class="tags">
          <div class="accent">$45,000</div>
          <div class="accent secondary">1 Designer &amp; 1 Developer</div>
        </div>
        <p>During a one-week, onsite design sprint, Cloud Obsidian explores and defines your application's major workflows.</p>
        <p>Each week, you'll receive tangible design and engineering assets.  The final product is a fully functioning user interface.</p>
        <div class="bullets">
          <div class="bullet">
            <img src="assets/lightbulb-on.svg"/>
            <span>Design sprint</span>
          </div>
          <div class="bullet">
            <img src="assets/high-fidelity-mock-ups.svg"/>
            <span>High fidelity mock ups</span>
          </div>
          <div class="bullet">
            <img src="assets/react.svg"/>
            <span>Frontend build &amp; DevOps</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
