<div class="slide">
  <div class="grid"
    [@fadeInOut]="scrollPosition >= slide.start && scrollPosition <= slide.end ? 'fadeIn' : 'fadeOut'">
    <div class="column">
      <div>1</div>
    </div>
    <div class="column">
      <div class="content">
        <img src="https://placekitten.com/g/300/400"/>
        <div class="text">
          <h1>Services Two</h1>
          <p>description</p>
          <button type="button">Find out more!</button>
        </div>
      </div>
    </div>
    <div class="column">
      3
    </div>
  </div>
</div>
