@import '../../styles';

.logo {
  position: fixed;
  top: 30px;
  left: 38px;
  pointer-events: none;
  z-index: 10;

  @media screen and (min-width: $tablet) { }
  @media screen and (min-width: $desktop) { }
  @media screen and (min-width: $widescreen) { }

  img {
    width: 150px;

    @media screen and (min-width: $tablet) { }
    @media screen and (min-width: $desktop) { }
    @media screen and (min-width: $widescreen) { }
  }
}
