/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

/* Responsive breakpoints */
$tablet: 415px;
$desktop: 823px;
$landscape: 1024px;
$widescreen: 1280px;

// 414x736 (Plus sized phones)
$small: "only screen and (min-width: 415px) {}";
// 768x1024px (Portrait tablets)
$medium: "only screen and (min-width: 769px) {}";
// 1280x900px (MacBook 12")
$large: "only screen and (min-width: 1281px) {}";
// 1440x900px (MacBook Pro 15")
$larger: "only screen and (min-width: 1441px) {}";
// 1680x1050px (MacBook Pro 15" Hi Res)
$wide: "only screen and (min-width: 1681px) {}";
// 1920x1080px (Desktop Monitors)
$ultra-wide: "only screen and (min-width: 1921px) {}";

$iphone: "only screen 
  and (device-width : 375px) 
  and (device-height : 667px) 
  and (-webkit-device-pixel-ratio : 2) { }";

$iphone-landscape: "only screen 
  and (device-width : 667px) 
  and (device-height : 375px) 
  and (-webkit-device-pixel-ratio : 2) { }";

$iphone-plus: "only screen 
  and (device-width : 414px) 
  and (device-height : 736px) 
  and (-webkit-device-pixel-ratio : 3) { }";

$iphone-plus-landscape: "only screen 
  and (device-width : 736px) 
  and (device-height : 414px) 
  and (-webkit-device-pixel-ratio : 3) { }";

$iphone-x: "only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { }";

$iphone-x-landscape: "only screen 
  and (device-width : 812px) 
  and (device-height : 375px) 
  and (-webkit-device-pixel-ratio : 3) 
  and (orientation : landscape) { }";

$iphone-xr: "only screen
  and (device-width : 414px)
  and (device-height : 896px)
  and (-webkit-device-pixel-ratio : 2) { }";

$iphone-xr-landscape: "only screen 
  and (device-width : 896px)
  and (device-height : 414px)
  and (-webkit-device-pixel-ratio : 2)
  and (orientation : landscape) { }";

$iphone-xs: "only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3) { }";

$iphone-xs-landscape: "only screen 
  and (device-width : 812px)
  and (device-height : 375px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : landscape) { }";

$iphone-xs-max: "only screen
  and (device-width : 414px)
  and (device-height : 896px)
  and (-webkit-device-pixel-ratio : 3) { }";

$iphone-xs-max-landscape: "only screen 
  and (device-width : 896px)
  and (device-height : 414px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : landscape) { }";

$ipad: "only screen 
  and (device-width : 768px) 
  and (device-height : 1024px) 
  and (orientation : portrait) { }";

$ipad-landscape: "only screen 
  and (device-width : 1024px) 
  and (device-height : 768px) 
  and (orientation : landscape) { }";

$ipad-pro: "only screen 
  and (device-width : 1024px) 
  and (device-height : 1366px) 
  and (orientation : portrait) { }";

$ipad-pro-landscape: "only screen 
  and (device-width : 1366px) 
  and (device-height : 1024px) 
  and (orientation : landscape) { }";

/* Colors */
$primary: #F2275A;   // Pink
$secondary: #3913A0; // Purple
$accent: #F94F21;    // Orange
$black: #000000;     // Black
$white: #FFFFFF;     // White
$dark-gray: #4D4D62; // Dark Gray

body {
  margin: 0;
  font-family: 'Varela', sans-serif;
}

h1 {
  font-weight: 400;
  color: $secondary;

  @media screen and (min-width: $tablet) {
  }
  
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
  
  @media screen and (min-width: $widescreen) {
  }
}
