/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

/* Responsive breakpoints */
$tablet: 414px;
$desktop: 768px;
$widescreen: 1280px;

/* Colors */
$primary: #F2275A;   // Pink
$secondary: #3913A0; // Purple
$accent: #F94F21;    // Orange
$black: #000000;     // Black
$white: #FFFFFF;     // White
$dark-gray: #4D4D62; // Dark Gray

body {
  margin: 0;
  font-family: 'Varela', sans-serif;
}

h1 {
  font-weight: 400;
  color: $secondary;

  @media screen and (min-width: $tablet) {
  }
  
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
  
  @media screen and (min-width: $widescreen) {
  }
}
