<div class="scroll-container" 
  scroll-monitor
  (onScroll)="updateScrollPosition($event)">
  <div class="inner">
    <!--<co-menu></co-menu>-->
    <co-links></co-links>
    <div class="slides" style="background-color: #DDF8E8">1</div>
    <div class="slides" style="background-color: #CDD5D1">2</div>
    <div class="slides" style="background-color: #B4A6AB">3</div>
    <div class="slides" style="background-color: #946E83">4</div>
    <div class="slides" style="background-color: #615055">5</div>
    <div class="slides" style="background-color: #DDF8E8">6</div>
    <div class="slides" style="background-color: #CDD5D1">7</div>
    <div class="slides" style="background-color: #B4A6AB">8</div>
    <div class="slides" style="background-color: #946E83">9</div>
    <div class="slides" style="background-color: #615055">10</div>
  </div>
</div>
