<div class="scroll-container" #scrollContainer
  scroll-monitor
  (onScroll)="updateScrollPosition($event)">
  <div class="inner">
    <!--<co-menu></co-menu>-->
    <co-logo [start]="slides[1].start"></co-logo>
    <co-leading-bar></co-leading-bar>
    <co-links
      [scrollPosition]="scrollPosition" 
      [slides]="slides">
    </co-links>
    <co-home-slide
      [scrollPosition]="scrollPosition"
      [slide]="slides[0]">
    </co-home-slide>
    <co-about-us-one 
      [scrollPosition]="scrollPosition"
      [slide]="slides[1]">
    </co-about-us-one>
    <co-about-us-two 
      [scrollPosition]="scrollPosition"
      [slide]="slides[2]">
    </co-about-us-two>
    <co-about-us-three 
      [scrollPosition]="scrollPosition"
      [slide]="slides[3]">
    </co-about-us-three>
    <co-process-one
      [scrollPosition]="scrollPosition"
      [slide]="slides[4]">
    </co-process-one>
    <co-process-two
      [scrollPosition]="scrollPosition"
      [slide]="slides[5]">
    </co-process-two>
    <co-process-three
      [scrollPosition]="scrollPosition"
      [slide]="slides[6]">
    </co-process-three>
    <co-services-one
      [scrollPosition]="scrollPosition"
      [slide]="slides[7]">
    </co-services-one>
    <co-services-two
      [scrollPosition]="scrollPosition"
      [slide]="slides[8]">
    </co-services-two>
    <co-services-three
      [scrollPosition]="scrollPosition"
      [slide]="slides[9]">
    </co-services-three>
  </div>
</div>
