<div class="home">
  <co-header [slides]="slides"></co-header>
  <co-mobile-logo *ngIf="isMobile"></co-mobile-logo>
  <co-menu *ngIf="isMobile"></co-menu>
  <co-leading-bar></co-leading-bar>
  <co-home-slide></co-home-slide>
  <co-about-us-one [isMobile]="isMobile"></co-about-us-one>
  <co-about-us-two></co-about-us-two>
  <co-about-us-three></co-about-us-three>
  <co-process-one *ngIf="!isMobile"></co-process-one>
  <co-process-two *ngIf="!isMobile"></co-process-two>
  <co-process-three *ngIf="!isMobile"></co-process-three>
  <co-services-one *ngIf="!isMobile"></co-services-one>
  <co-services-two *ngIf="!isMobile"></co-services-two>
  <co-services-three *ngIf="!isMobile"></co-services-three>
  <co-footer *ngIf="isMobile"></co-footer>
</div>
